.contactSection {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  color: #fff;
  width: 1280px;
  flex-grow: 1;
}

.contactContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 4px;
}

.contactInfo {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.buttonAndHeadingContainer {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.chevronButton {
  z-index: 2;
  display: flex;
  margin: auto 0;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #39D4D5;
}

.chevronButton:hover {
  background-color: #2eb5b5;
}

.contactHeading {
  display: flex;
  gap: 10px;
  font-size: 30px;
}

.contactHeading .icon,
.contactHeading h3 {
  margin: auto;
  line-height: 0;
}

.chevronIcon {
  color: #fff;
  margin: auto;
}

.contactContent {
  background-color: transparent;
  font-size: 30px;
}

.invisible {
  color: transparent;
}

.arrowImg {
  width: 200px;
  display: flex;
  align-self: flex-end;
  margin-top: auto;
}

@media (max-width: 1360px) {
  .contactSection{
    width: 100vw;
  }

  .contactContainer {
    width: auto;
    margin-left: 40px;
    margin-right: 40px;
  }

  .arrowImg {
    margin-right: 40px;
  }
}

@media (max-width: 550px) {
  .arrowImg {
    align-self: center;
  }
}

@media (max-width: 430px) {
  .contactHeading {
    font-size: 20px;
  }

  .contactContent {
    font-size: 20px;
  }

  .chevronButton {
    height: 20px;
    width: 20px;
  }

  .chevronIcon {
    width: 10px;
  }  
}