.homePage {
  /* padding-bottom: 104px; */
  color: #fff;
}

.typewriterSection {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  height: 650px;
  max-width: 1280px;
  margin: auto;
}

.profileContainer {
  max-width: 300px;
  max-height: 300px;
  border-radius: 50%;
  overflow: hidden;
  z-index: 2;
}

.profileImg {
  width: 100%;
}

.typewriter {
  font-size: 64px;
  line-height: 1.2;
  color: #fff;
}

.developmentSection {
  background-color: #fff;
  display: block;
  max-width: 1280px;
  margin: auto;
  overflow: hidden;
}

.developmentHeading {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.sectionTitle {
  z-index: 1;
  font-size: 32px;
  font-weight: 400;
  text-transform: uppercase;
  color: #1f2833;
}

.bottomLine {
  z-index: 1;
  margin: 0 auto;
  height: 2px;
  width: 48px;
  background: #39D4D5;
}

.processContainer {
  height: 220px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
}

.processContainer h3 {
  color: #1f2833;
}

.processChunk {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.procesStep {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 28px;
  background: #39D4D5;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  line-height: 15px;
  padding: 18px;
  transition: all 1s;
}

.processIcon {
  align-self: center;
  justify-self: center;
  border-radius: 50%;
  background: #1f2833;
  color: white;
  padding: 30px 30px 22px 30px;
  width: 70px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  position: relative;
  transition: all 1s;
}

.processIcon:hover {
  background: #39D4D5;
}

.processIcon:hover .procesStep {
  background: #1f2833;
}

@media (max-width: 640px) {
  .processContainer {
    flex-direction: column;
    height: 800px;
  }

  .processChunk {
    gap: 10px;
  }
}

@media (max-width: 600px) {
  .typewriterSection {
    height: 550px;
  }

  .developmentHeading {
    height: 120px;
  }

  .sectionTitle {
    line-height: 1.4;
  }
}

@media (max-width: 450px) {
  .typewriter {
    font-size: 45px;
  }
}

@media (max-width: 315px) {
  .developmentHeading {
    height: 160px;
  }
}