.homePage {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 60px;
  color: #fff;
  width: 1280px;
}

.typewriterSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: auto 40px;
}

.profileContainer {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 300px;
  max-height: 300px;
  border-radius: 50%;
  overflow: hidden;
  z-index: 2;
}

.profileImg {
  width: 100%;
}

.typewriter {
  font-size: 64px;
  line-height: 1.2;
  color: #fff;
}

.developmentSection {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 4px;
}

.developmentHeading {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.sectionTitle {
  z-index: 1;
  font-size: 32px;
  font-weight: 400;
  color: #1f2833;
  margin: 15px;
}

.bottomLine {
  z-index: 1;
  margin: 0 auto;
  height: 2px;
  width: 65px;
  background: #39D4D5;
}

.processContainer {
  height: 220px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
}

.processContainer h3 {
  z-index: 2;
  color: #1f2833;
}

.processChunk {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.procesStep {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 28px;
  background: #39D4D5;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  line-height: 15px;
  padding: 18px;
  transition: all 1s;
}

.processIcon {
  align-self: center;
  justify-self: center;
  border-radius: 50%;
  background: #1f2833;
  color: white;
  padding: 30px 30px 22px 30px;
  width: 70px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  position: relative;
  transition: all 1s;
}

.processIcon:hover {
  background: #39D4D5;
}

.processIcon:hover .procesStep {
  background: #1f2833;
}

@media (max-width: 1360px) {
  .homePage{
    width: 100vw;
  }

  .developmentSection {
    width: auto;
    margin-left: 40px;
    margin-right: 40px;
  }
}

@media (max-width: 640px) {
  .processContainer {
    flex-direction: column;
    height: 800px;
  }

  .processChunk {
    gap: 10px;
  }
}

@media (max-width: 610px) {
  .typewriter {
    font-size: 45px;
  }

  .sectionTitle {
    line-height: 1.4;
  }
}

@media (max-width: 460px) {
  .homePage {
    gap: 30px;
  }

  .profileContainer {
    max-width: 250px;
    max-height: 250px;
  }

  .typewriter {
    font-size: 35px;
  }
}

@media (max-width: 375px) {
  .profileContainer {
    max-width: 200px;
    max-height: 200px;
  }

  .typewriter {
    font-size: 28px;
  }
}