.projectsPage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 60px;
  margin: 0 auto;
  max-width: 1280px;
}

.projectCard {
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 600px;
  border-radius: 6px 6px 4px 4px;
  background-color: #fff;
}

.projectCard h1, 
.projectCard p {
  color: #1f2833;
}

.projectInfoContainer {
  margin: 4px 24px 24px 24px;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 20px;
}

.button {
  font-family: 'Cairo', sans-serif;
  width: 150px;
  height: 30px;
  border-radius: 4px;
  color: #fff;
  background-color: #1f2833;
  border: none;
  text-align: center;
  transition: all ease-in-out 0.3s;
}

.button:hover {
  background-color: #39D4D5;
}

.project {
  height: 195px;
  border-radius: 4px 4px 0 0;
  transition: ease-in-out 2s;
  border-bottom: 2px solid #39D4D5;
}

.project1 {
  background: url('../images/crypto-tracker.png');
  background-size: cover;
}

.project2 {
  background: url('../images/food-order.png');
  background-size: cover;
}

.project:hover {
  background-position: bottom;
}

@media (max-width: 680px) {
  .projectCard {
    width: 400px;
  }
}

@media (max-width: 450px) {
  .projectsContainer {
    height: 850px;
  }

  .project {
    height: 150px;
  }

  .projectCard {
    width: 300px;
  }

  .buttonContainer {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 65px;
  }
}

@media (max-width: 350px) {
  .projectsPage {
    gap: 50px;
  }
}