.footer {
  /* position: relative; */
  /* height: 104px; */
  /* bottom: 0; */
  /* margin-top: -104px; */
  /* clear: both; */
  margin-top: auto;
  padding-top: 40px;
}

.container {
  /* display: block; */
  max-width: 1280px;
  /* padding: 0 24px; */
  margin: auto;
  padding: 0 40px;
  overflow: hidden;
}

.footerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  /* position: absolute; */
  height: 104px;
  /* width: 100%; */
  /* width: 1280px; */
  /* bottom: 0; */
  /* left: 50%; */
  /* margin-left: -640px; */
  /* margin: auto; */
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: auto;
  width: 150px;
}

.social a {
  color: #fff;
  border: 2px solid #fff;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  line-height: 20px;
  text-align: center;
  padding: 8px;
}

.social a:hover {
  color: #66FCF1;
}

.icon {
  height: 20px;
  width: 20px;
}

@media (max-width: 550px) {
  .footerContent {
    flex-direction: column;
    justify-content: space-evenly;
    flex-direction: column-reverse;
  }
}

@media (max-width: 340px) {
  .footerContent p {
    font-size: small;
  }
}