.header {
  /* Header: 40 + 72 = 112px, Footer: 52 + 60 = 112px */
  padding-bottom: 72px;
}

.container {
  display: block;
  max-width: 1280px;
  /* padding: 0 24px; */
  margin: auto;
  overflow: hidden;
}

.mainNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.logo {
 color: #fff;
 font-size: 35px;
}

ul {
  width: 420px;
  display: flex;
  justify-content: space-between;
}

/* .link {
color: #fff;
text-transform: uppercase;
border-bottom: 3px solid transparent;
transition: border-color ease-in 0.5s;
padding-bottom: 8px;
} */

.link {
color: #fff;
text-transform: uppercase;
border-bottom: 3px solid transparent;
transition: ease-in 0.5s;
padding-bottom: 8px;
}

/* .link::before {
  content: '';
  position: absolute;
  margin-left: 0px;
  width: 0%;
  bottom: 0;
  left: 0;
  height: 2px;
  transition: all 500ms ease;
} */

.link:hover {
  border-color: #39D4D5;
}

.currentPage {
  /* color: #fff; */
  /* text-transform: uppercase; */
  border-bottom: 3px solid #39D4D5;
  /* padding-bottom: 8px; */
  /* transition: none; */
}

@media (max-width: 1360px) {
  .container {
    padding: 0 40px;
  }
}

@media (max-width: 580px) {
  .mainNav {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: auto;
  }

  ul {
    width: 400px;
  }

  li {
    margin-bottom: 14px;
  }

  .link {
    padding-bottom: 0;
  }
}

@media (max-width: 450px) {
  ul {
    width: 350px;
  }
}

@media (max-width: 400px) {
  ul {
    width: 300px;
  }
}