.container {
  display: block;
  max-width: 1280px;
  padding: 0 24px;
  margin: auto;
  overflow: hidden;
}

.header {
  background-color: #333;
  border-bottom: 3px solid #39D4D5;
}

.mainNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: #333;
}

.logo {
 color: #fff;
 font-size: 35px;
}

ul {
  display: flex;
}

li {
  padding: 0 20px;
}

.link {
color: #fff;
text-transform: uppercase;
border-bottom: 3px solid transparent;
transition: border-color 0.5s;
padding-bottom: 8px;
}

.link:hover {
  border-color: #39D4D5;
}
