.header {
  padding-bottom: 26px;
}

.container {
  max-width: 1280px;
  margin: auto;
  padding: 0 40px;
  overflow: hidden;
}

.mainNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.logo {
  color: #fff;
  font-size: 35px;
}

.logo:hover {
  color: #39D4D5;
}

ul {
  width: 420px;
  display: flex;
  justify-content: space-between;
}

.link {
color: #fff;
text-transform: uppercase;
border-bottom: 3px solid transparent;
transition: ease-in 0.5s;
padding-bottom: 4px;
}

.link:hover {
  border-color: #39D4D5;
}

.currentPage {
  border-bottom: 3px solid #39D4D5;
}

@media (max-width: 580px) {
  .mainNav {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: auto;
  }

  ul {
    width: 100%;
  }

  li {
    margin-bottom: 14px;
  }
}

@media (max-width: 350px) {
  ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  li {
    margin-bottom: 4px;
  }

  .link {
    padding-bottom: 1px;
  }
}