:root {
    --primary-color: #22333B;
    --primary-hover-color: #333E3A;
    --secondary-color: #FFEDE1;
    --accent-color: #FF9277;
    --background-color: #F5F5F5;
    --text-color: #333333;
    --secondary-text-color: #CAD2D6;
  }